<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
       .main {
           text-align: center;
        }
    </style>
</head>
<body>
<h3 class="main">
    <div th:text="'Dictionary has total of ' + ${knownWords} + ' known words'"></div>
    <div th:text="'Dictionary has total of ' + ${unknownWords} + ' unknown words'"></div>
    <div>
        <tr th:each="word: ${wordsLength}">
            <td th:text="${word.language}" />
            <td th:text="${word.length}" />
            <td th:text="${word.count}" />
        </tr>
    </div>
    <div>
        <tr th:each="word: ${wordsLengthAverage}">
            <td th:text="${word.language}" />
            <td th:text="${word.average}" />
        </tr>
    </div>
    <tr th:each="word: ${wordsLengthAverage}">
        <td th:text="${word.language}" />
        <td th:text="${word.average}" />
    </tr>
</h3>
</body>
</html>